<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digimon Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Digimon Explorer</h1>
    </header>

    <div class="grid-container">
        {% for digimon in digimon_list %}
        <a href="/digimon/{{ digimon.name }}" class="card">
            <img src="{{ digimon.img }}" alt="{{ digimon.name }}">
            <p class="digimon-name">{{ digimon.name }}</p>
        </a>
        {% endfor %}
    </div>
</body>
</html>
